$main_width : '1120px';
$main_media_width : 'max-width: '$main_width;
.custom_filter {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  > *{
    flex: 1 1 auto;
  }
  select {
    padding: 20px;
    font: normal normal 16px/20px "Roboto", sans-serif;
    outline: none;
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    text-transform: uppercase;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100%;
    moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 8L0.669873 0.499999L9.33013 0.5L5 8Z' fill='%23fff'/%3e%3c/svg%3e");
    background-repeat: no-repeat, repeat;
    background-position: right 30px top 50%, 0 0;
    background-size: 20px auto, 100%;
    text-align-last: center;
    font: normal 400 16px/15px "Candara", sans-serif;
    &.no-select{
      background: #fff;
      color: var(--main-color);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 8L0.669873 0.499999L9.33013 0.5L5 8Z' fill='%23B11D48'/%3e%3c/svg%3e");
      background-repeat: no-repeat, repeat;
      background-position: right 30px top 50%, 0 0;
      background-size: 20px auto, 100%;
    }
    option{
      font: normal 400 16px/15px "Candara", sans-serif;
      text-align: left;
      background: #fff;
      color: #000;
      &:first-child{
        display: none;
      }
    }
  }
  @media ($main_media_width) {
    flex-direction: column;
    > *{
      min-width: 100%;
      border: 1px solid var(--main-color) !important;
      border-top: none !important;
    }
  }
}

[name="arrFilter_form"] {
  @media ($main_media_width) {
    gap: 0;
  }
  .filter_element_list {
    @media ($main_media_width) {
      flex-wrap: wrap;
    }
    .filter_element {
      @media ($main_media_width) {
        flex: 1 1 100%;
        width: 100%;
      }
    }
  }
}

@media ($main_media_width) {
  //[name="arrFilter_form"] {
  //  flex-direction: column;
  //  &:before {
  //    content: attr(data-select);
  //    background-image: url(assets/arrow_r.svg);
  //    background-repeat: no-repeat;
  //    background-position: center right 20px;
  //    border: 1px solid var(--main-color);
  //    font: normal 700 16px/15px "Candara", sans-serif;
  //    letter-spacing: 0.05em;
  //    text-transform: uppercase;
  //    cursor: pointer;
  //    padding: 15px 10px;
  //    display: flex;
  //    color: var(--main-color);
  //  }
  //  &.closeFilter{
  //    &:before {
  //      background-image: url(assets/arrow_w.svg);
  //      background-color: var(--main-color);
  //      color: #fff;
  //    }
  //    .filter_element_list{
  //      display: none
  //    }
  //    > * {
  //      display: none;
  //    }
  //  }
  //
  //}
}