.events_wrapper{
  width: var(--main-width);
  margin: 70px auto 0;
  .block_title{
    font: normal 700 34px/32px "Candara", sans-serif;
    margin-bottom: 20px;
  }
  .splide__arrows{
    .splide__arrow{
      width: max-content;
      height: max-content;
      max-height: max-content;
      background: transparent;

      top: -20px;

      &.splide__arrow--prev{
        right: 40px;
        left: unset;
      }
      &.splide__arrow--next{
        right: -9px;
      }
      svg{
        width: 39px;
        height: max-content;
        path{
          stroke: #4d4d4d;
          stroke-width: 1px;
        }
      }
      &:hover{
        svg{
          path{
            fill:  var(--main-accent);
            stroke: var(--main-accent);
          }
        }
      }
    }
  }

  .one_new{
    border-bottom: 1px solid #dfdfdf;
    .visible_place{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      > img.preview_picture{
        max-width: 100%;
        width: auto;
        height: 200px;
        max-height: 200px;
        margin: auto;
      }
      > .date{
        font: normal normal 16px/21px "Candara", sans-serif;
        color: var(--main-d-grey);
        padding: 0 20px;
        text-align: left;
      }
      > .name{
        font: normal 700 21px/24px "Candara", sans-serif;
        min-height: 100px;
        padding: 0 20px;
        text-align: left;
      }
    }
    .invisible_place{
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background: url(assets/img/news_bg.svg) no-repeat center center var(--main-color);
      //background: url(assets/img/news_bg.svg) no-repeat center center var(--main-accent);
      transition: height 0.7s;
      color: #fff;
      > .date{
        padding: 50px 20px 25px;
        font: normal normal 16px/21px "Candara", sans-serif;
      }
      > .name{
        padding: 0 20px;
        font: normal 700 21px/24px "Candara", sans-serif;
      }
      > .preview_text{
        padding: 30px 20px 0;
        font: normal normal 16px/21px "Candara", sans-serif;
      }
      > .link{
        padding: 0 20px;
        a{
          font: normal normal 16px/15px "Candara", sans-serif;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #fff;
        }
      }
    }
    &:hover{
      .invisible_place {
        height: 100%;
      }
    }
  }
}

.standard_page {
  .events_wrapper {
    ul {
      li {
        margin-left: 0;
      }
    }
  }
}