.gallery{
  display: flex;
  gap: 3px;
  max-height: 400px;
  overflow: hidden;
  .left{
    flex: 1 1 90%;
    height: 400px;
    width: 1005px;
    .img{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100%;
      overflow: hidden;
      width: 1005px;
      img{
        z-index: 2;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .bg_img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      z-index: 1;
      filter: blur(10px);
      opacity: 0.8;
      background-position: center center;
    }
  }
  .right{
    flex: 1 1 10%;
    max-width: 95px;

    .splide__track{
      text-align: center;
      margin-top: 20px;
    }
    .splide__arrow{
      width: calc( 100% + 2px);
      background: 0;
      opacity: 1;
      &:hover{
        svg{
          margin-top: 4px;
          path{
            fill: var(--main-accent);
          }
        }
      }
      &.splide__arrow--prev{
        border-radius: 3px 3px 0 0;
        top: -10px;
        svg {
          margin-top: 4px;
        }
      }
      &.splide__arrow--next{
        border-radius: 0 0 3px 3px;
        bottom: -25px;
        svg {
          margin-top: -2px;
        }
      }
      svg{
        path{
          fill: #dbdbdb;
        }
      }
    }

    .slide{
      display: flex;
      flex-direction: column;
      gap: 5px;
      li{
        margin: 0 0 0 1px;
        img{
          max-width: 95px;
          height: auto;
          cursor: pointer;
          max-height: 100%;
        }
      }
    }
  }
}

