$main_width : '1120px';
$main_media_width : 'max-width: '$main_width;
.horizontal-multilevel-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media ($main_media_width) {
    flex-direction: column;
    align-items: self-start;
    margin-top: 30px;
    gap: 10px;
  }
  > li{
    max-width: max-content;
    @media ($main_media_width) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      float: none;
      flex: 1 1 100%;
      min-width: 100%;
      flex-wrap: wrap;
    }
    .open_sub_menu_mobile{
      display: none;
      @media ($main_media_width) {
        display: block;
        transition: transform 0.5s;
      }
    }
    > ul{
      display: none;
      height: 0;
      overflow: hidden;
      transition: height 1s;
    }
    &:hover{
      > ul{
        display: flex;
        height: 250px;
        box-shadow: 0 8px 15px -6px rgb(0 0 0 / 5%);
        @media ($main_media_width) {
          padding: 0;
          position: unset;
          height: auto;
          flex-direction: column;
          max-height: unset;
          width: 100%;
          box-shadow: none;
        }
      }
      .open_sub_menu_mobile{
        @media ($main_media_width) {
          svg{
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
  a {
    display:block;
    text-transform: uppercase;
    color: #000;
    font: normal 700 15px/18px "Candara", sans-serif;
    @media ($main_media_width) {
      font: normal 700 16px/20px "Candara", sans-serif;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    &.parent{
      background: red;
    }
    &.denied {
      background: silver;
    }
    &:hover{
      color: var(--main-color);
    }
  }
  li {
    float:left;
    a{
      &.root-item{
        &-selected{
          color:var(--main-accent);
        }
      }
    }
    &:hover,
    &:jshover{
      background:#D6D6D6;
      color:#fff;
      a{
        &.root-item{
          background:#e26336;
          color:#fff;
        }
      }

    }
    &.item-selected{
      color:var(--main-accent);
    }
    ul{
      position:absolute;
      z-index:500;
      left: 0;
      right: 0;
      background: #fff;
      top: auto;
      padding: 70px calc((100vw - var(--main-width)) / 2) 20px calc(((100vw - var(--main-width)) / 2) + 370px) ;

      flex-direction: column;
      flex-wrap: wrap;
      max-height: 200px;

      &::before{
        content: " ";
        border-top: 1px solid #f1f1f1;
        width: 100%;
        position: inherit;
        left: 0;
        margin-top: -46px;
        @media ($main_media_width) {
          margin-top: 0;
          border: none;
        }
      }

      &::after{
        content: attr(data-item-name);
        float: left;
        margin-left: -370px;
        width: 350px;
        max-width: 350px;
        padding-top: 20px;
        padding-bottom: 50px;
        margin-top: 35px;
        border-right: 1px solid #f1f1f1;
        font: normal normal 34px/32px "Candara", sans-serif;
        position: inherit;
        left: calc(((100vw - var(--main-width)) / 2) + 370px);
        @media ($main_media_width) {
          margin-top: 0;
          margin-left: 0;
          width: 0;
          max-width: 0;
          padding-top: 0;
          padding-bottom: 0;
          content: '';
        }
      }

      a{
        text-align:left;
        font: normal normal 18px/23px "Candara", sans-serif;
        color: #454545;
        @media ($main_media_width) {
          font: normal normal 18px/25px "Candara", sans-serif;
          text-transform: unset;
        }
      }
      ul{
        margin:-27px 0 0 132px;
      }
    }
    li{
      padding: 5px 0 5px 25px;
    }
  }
}

div.menu-clear-left
{
  clear:left;
}

