$main_width : '1120px';
$main_media_width : 'max-width: '$main_width;
%-d-flex-col{
  display: flex;
  flex-direction: column;
}
.accordion {
  &.section_list {
    @extend %-d-flex-col;
    gap: 5px;
    @media ($main_media_width) {
      margin-bottom: 40px;
    }
    .section{
      background: rgba(31, 106, 116, 0.1);
      transition: all 0.5s;
      @extend %-d-flex-col;
      .section_name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font: normal 700 21px/24px "Candara", sans-serif;
        padding: 15px;
        .action_btn{
          display: flex;
          align-items: center;
          justify-content: center;
          > svg{
            transition: all 0.3s;
          }
        }
      }
      .section_body{
        transition: max-height 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
        .section_description{
          font: normal normal 18px/27px "Roboto", sans-serif;
        }

        .elements_list{
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          .element{
            @extend %-d-flex-col;
            flex: 1 1 50%;
            font: normal normal 18px/27px "Roboto", sans-serif;
            display: block;
            max-width: calc(50% - 30px);
            border: 1px solid #f1f1f1;
            padding: 9px;
            @media ($main_media_width) {
              flex: 1 1 100%;
              max-width: 100%;
              display: flex;
            }
            img{
              max-width: 150px;
              float: left;
              &.img_default{
                //max-width: 170px;
                height: 200px;
                background: #f1f1f1;
                padding: 0 5px;
                margin-right: 10px;
              }
              @media ($main_media_width) {
                max-width: 100%;
              }
            }
            .element_name{
              font-weight: bold;
              float: right;
              max-width: calc(100% - 170px);
              @media ($main_media_width) {
                max-width: 100%;
              }
            }
            .element_status{
              float: right;
              max-width: calc(100% - 170px);
              text-align: right;
              @media ($main_media_width) {
                max-width: 100%;
              }
            }
          }
        }

      }
      &.open{
        background: #fff;
        .section_name{
          color: var(--main-color);
          .action_btn{
            > svg{
              transform: rotate(-45deg);
              path{
                fill: var(--main-color);
              }
            }
          }
        }
        .section_body {
          @extend %-d-flex-col;
          padding: 15px;
          max-height: 50000px;
          transition: max-height 0.5s ease-in;

        }
      }
    }
  }
}

