$main_width : '1120px';
$main_media_width : 'max-width: '$main_width;

.yandex-share-panel{
  &.float_right{
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 10;
    @media ($main_media_width) {
      //top: unset;
      //bottom: 25%;
      display: none;
    }
    ul.ya-share2__list{
      display: flex;
      flex-direction: column;
      gap: 1px;
      background: #dfdfdf;
      padding: 1px;
      > li.ya-share2__item{
        margin: 0;
        > a{
          > span.ya-share2__badge{
            background: #fff;
            border-radius: 0;
            > .ya-share2__icon{
              width: 60px;
              height: 60px;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
        }
        &.ya-share2__item_service_vkontakte{
          a{
            span.ya-share2__badge{
              .ya-share2__icon{
                background-size: 26px 15px;
                background-image: url(assets/img/vk.svg);
              }
            }
            &:hover{
              span.ya-share2__badge{
                background: var(--main-color);
                .ya-share2__icon{
                  background-image: url(assets/img/vk_hover.svg);
                }
              }
            }
          }
        }
        &.ya-share2__item_service_facebook{
          a{
            span.ya-share2__badge{
              .ya-share2__icon{
                background-size: 13px 27px;
                background-image: url(assets/img/fb.svg);
              }
            }
            &:hover{
              span.ya-share2__badge{
                background: var(--main-color);
                .ya-share2__icon{
                  background-image: url(assets/img/fb_hover.svg);
                }
              }
            }
          }
        }
        &.ya-share2__item_service_odnoklassniki{
          a{
            span.ya-share2__badge{
              .ya-share2__icon{
                background-size: 15px 24px;
                background-image: url(assets/img/ok.svg);
              }
            }
            &:hover{
              span.ya-share2__badge{
                background: var(--main-color);
                .ya-share2__icon{
                  background-image: url(assets/img/ok_hover.svg);
                }
              }
            }
          }
        }
      }
    }
  }
}
