$main_width : '1120px';
$main_media_width : 'max-width: '$main_width;
.news-detail{
  .top-block{
    .left{}
    .right{
      float: right;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding-top: 20px;
      @media ($main_media_width) {
        float: none;
        > a{
          width: 100%;
        }
      }
      .age{
        font: normal normal 18px/23px "Candara", sans-serif;
        color: var(--main-d-grey);
      }
    }
  }
}

.feedback_container{
  > .form_title{
    display: block;
    font: normal normal 44px/42px "Candara", sans-serif;
    margin: 80px 0 35px;
  }
  .btn.resend{
    display: none !important;
  }
}

